{% extends "base.html" %}

{% block title %}
    blog titles
{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
        <h1> わタしのぶろうく</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <ul>
            {% for blog in blogs %}
                <li><a href="{{ blog.id }}"> {{ blog.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>我的Django学习之路</h2>
        <img src="/static/images/gofer.jpg" width="200px">
    </div>
</div>
{% endblock %}